<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
 <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>

<title>Sports Store Login</title>

</head>
<body>
     <div class="container">
		<div th:if="${param.error}">
		<font size="3" color="red">Invalid username and password.!</font>
		</div>
		<div th:if="${param.logout}"><font size="3" color="blue">You have been logged out.</font></div>
		<!-- <img th:src="@{./images/sports.png}"
          src="./images/sports.png" class="img-responsive" alt="Responsive image"/> -->
		<h1>Welcome To Sports Store</h1>
		<!--  <img src="./images/sport_ball.jpg" alt="Image" style="width:150px;height:150px"></img> -->
		 <img th:src="@{./images/sport_ball.jpg}"
          src="./images/sport_ball.jpg" class="img-responsive" alt="Responsive image"/>
          
		<form th:action="@{/login}" method="post">
			<table class="table-condensed table-bordered">
			<tr><td><label> User Name :</label> </td><td><input type="text" name="username" /></td></tr>
			<tr><td><label>  Password: </label> </td><td><input type="password" name="password" /></td></tr>
			<tr><td><input type="submit" value="Sign In" /></td></tr>
			</table>
			
			
		</form>
		
	  </div>
</body>
</html>